
:root{
  --paleYellow: #fdefb2; 
  --eggShell: #F0EAD6;
  --blueBlack: #0F1529;
  --whiteish: #ffffff;
  --pastelMagenta: #F49AC2;
}

body {
  background-color: var(--eggShell);  
  font-family: Verdana;
  margin: 0px;
  }
  
header {
  background-color: var(--blueBlack);
  color: var(--whiteish);
  display: flex;
  justify-content: space-between;
  padding: 1%;
}
  
time {
  min-width: 100px;
}
  
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.button {
  color: var(--whiteish);
  background-color: var(--blueBlack);
  display: block;
  padding: 5%;
  border-radius: 5px;
  border: none;
}

.hs-nav {
  display: inline-flex;
}

.choice-button {
  width: 100%;
  text-align: left;
  margin: 5px;
}

#result-div {
  display: none;
}

.initial-textbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#initials {
  width: 25%;
  margin: 8px;
  padding: 15px;
}

#back-button {
  margin-right: 8px;
}

.card {
  border-color: var(--blueBlack);
  box-shadow: 10px 5px 5px var(--whiteish);
  max-width: 80%;
  margin-top: 10%;
  border: solid;
  border-radius: 30px;
  border-width: 2px;
  padding: 30px;
}

@media screen and (min-width: 768px) {
  .card {
    max-width: 767px;
  }
}

@media (hover) {
  a:hover {
    color: var(--pastelMagenta);
  }

  button:hover {
    background-color: var(--pastelMagenta);
  }
}